
/*
@media (max-width: 670px) {
    .title-page, .button_back, .modal-title {
        font-size: 5.5vw;
    }

    .breadcrumb-item {
        font-size: 4vw;
    }
    
    .form__radio--group {
        width: 100%; 
    }
    .form__radio--group:not(:last-child) {
        margin-bottom: 3rem; 
    } 

    #bannerSlide .carousel-inner img {
        height: 35vh;
    }

    #content .button_success_block, .button_add_to_cart, .button-pesan, .button_order {
        font-size: 12px;
        padding: 6px 0;
    }

    p, li {
        font-size: 12px !important;
    }

    .product-name, th {
        font-size: 14px;
    }

    #content .embed-responsive {
        height: 20vh !important;
    }

    .product-price, .product-description {
        font-size: 12px !important;
        padding-top: 4px;
        /*width: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;--
    }

    .product-price-header {
        font-size: 10px;
        width: 140px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    #content .button_plus, #content .button_minus {
        font-size: 12px;
        width: 18px; 
        height: 18px;
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        line-height: 18px !important;
        margin-top: 4%;
    }

    #content .button_minus+span {
        font-size: 3vw;
        margin: 0 !important;
    }

    #content .total-bottom-fixed {
        bottom: 2.5rem; 
    }

    #shoppingCart .img-product img {
        width: 100%;
    } 

    footer.footer .cart .count-cart-one {
        right: 10px;
        top: 2px;
        font-size: 12px !important;
    }
      
    footer.footer .cart .count-cart-two {
        right: 7px;
        top: 2px;
        font-size: 12px !important;
    }
      
    footer.footer .cart .count-cart-three {
        right: 11px;
        top: 2px;
        font-size: 12px !important;
    }
      
}*/

@media (max-width: 2560px){

   .navbar-brand {
        position: absolute;
        left: 48%;
    }

    .warna{
        height:42%;
    }

    #i-kontak, #i-envelop {
        font-size: 5em;
    }
}

@media (max-width: 1440px){

   .navbar-brand {
        position: absolute;
        left: 45%;
    }

    .warna{
        height:72%;
    }

    #i-kontak, #i-envelop {
        font-size: 5em;
    }

   
}

@media (max-width: 1366px){

   

    .navbar-brand {
        position: absolute;
        left: 45%;
    }


  

      .warna{
        height:96%;
    }

    #i-kontak, #i-envelop {
        font-size: 5em;
        
       
    }

   
}

@media (max-width: 1024px){

    #sidebar {
        width: 50%;
        left: -50%;
    }

    .navbar-brand {
        position: absolute;
        left: 45%;
    }

    #i-kontak, #i-envelop {
        font-size: 5em;
        
       
    }


    #content .product-price {
        float: left;
        color:#6a3137 !important; 
        font-family: Open Sans;
        width: 100%; 
        font-size: 30px; 
        font-weight: 800;
      }
      
      #content .product-price-header {
        float: left;
        color:#6a3137 !important; 
        line-height: 1.36;
        font-size:18px;
        font-weight: bold;
      }

      .warna{
        height:85%;
    }

   
}

@media (max-width: 768px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    
    
    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 15px;
    }

    #pageSubmenu{
        font-size: 14px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .navbar-brand {
        position: absolute;
        left: 42%;
    }

    
    a.login{
        border:none;
        font-size: 15px;
        font-weight: 900;
        padding-left:2rem;
        padding-right:2rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 15px;
    }
      

    a.register {
        font-size: 15px;
    }

    .reset{
        font-size: 17px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    .cat_fil{
        font-size: 20px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 20px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:105%;
    }

    #content .cr_bl{
    
        margin-left: 1.8rem;
    }

    #content .cara_belanja img{
      width:90px;
      height:auto;
    }

    #content .cara_belanja h5{
        font-weight: 900;
        font-size: 18px;
        
        margin-right:2px;
        
    }

    #content .cara_belanja p{
        margin-left:-2rem;
        margin-right:10px;
        font-size: 14px;
        
    }

    #content .kontak{
        
        margin-left: 0.5rem;
        margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
        font-size: 3.9em;
        margin-top:1.3rem;
        margin-left:0;
    }

    #content .contact_kami h5.no_telp{
        margin-left:0;
        font-size: 25px;
       
    }

    #content .contact_kami p.telp{
        margin-left:0;
        margin-top: 1rem;
        font-size: 23px;
       
   }

   #content .contact_kami p{
    margin-top:1.2rem;
    margin-left:0;
    font-size: 23px;
    font-weight: 600;
    
   }

  #content .contact_kami h5{
    margin-left:0;
    font-family: Open Sans;
    font-size: 15px;
    
  }

    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:10px;
        color: #ffffff;
        
        font-size: 20px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 8px;
        margin-right: 10px;
        margin-bottom:20px;
        font-size: 40px;
        left:-1.5rem;
        right:-1rem;
        top:-0.5rem;
        padding-top:2px;
    }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:14px;
    }

    #content .product-price {
        font-size: 22px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        margin-top:1px;
        margin-right:8px;
        margin-left:-12px;
    }

    #content .button_minus {
        font-size: 15px;
        margin-left:8px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        font-weight: 900;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 600px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    
    
    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 15px;
    }

    #pageSubmenu{
        font-size: 14px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .navbar-brand {
        position: absolute;
        left: 39%;
    }

    
    a.login{
        border:none;
        font-size: 15px;
        font-weight: 900;
        padding-left:2rem;
        padding-right:2rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 15px;
    }
      

    a.register {
        font-size: 15px;
    }

    .reset{
        font-size: 17px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    .cat_fil{
        font-size: 17px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 17px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:49%;
    }

    #content .cr_bl{
    
        margin-left: 1.8rem;
    }

    #content .cara_belanja img{
        width:100px;
        height:auto;
      }
  
      #content .cara_belanja h5{
          font-weight: 900;
          font-size: 18px;
          
          margin-right:2px;
          
      }
  
      #content .cara_belanja p{
          margin-right:10px;
          font-size: 14px;
          
      }

    #content .kontak{
        
        margin-left: 0.5rem;
        margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
        font-size: 3.9em;
        margin-top:1.3rem;
        margin-left:20px;
    }

    #content .contact_kami h5.no_telp{
        margin-left:-6rem;
        font-size: 29px;
       
    }

    #content .contact_kami p.telp{
        margin-left:-6rem;
        margin-top: 1rem;
        font-size: 23px;
       
   }

   #content .contact_kami p{
    margin-top:1.2rem;
    margin-left:-6rem;
    font-size: 23px;
    font-weight: 600;
    
   }

  #content .contact_kami h5{
    margin-left:-6rem;
    font-family: Open Sans;
    font-size: 18px;
    
  }

    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:8px;
        color: #ffffff;
        
        font-size: 16px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 8px;
        margin-right: 10px;
        margin-bottom:20px;
        font-size: 40px;
        left:-1.5rem;
        right:-1rem;
        top:-0.5rem;
        padding-top:2px;
    }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:14px;
    }

    #content .product-price {
        font-size: 22px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        margin-top:1px;
        margin-right:8px;
        margin-left:-12px;
    }

    #content .button_minus {
        font-size: 15px;
        margin-left:8px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        font-weight: 900;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 540px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    
    
    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 15px;
    }

    #pageSubmenu{
        font-size: 14px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .navbar-brand {
        position: absolute;
        left: 39%;
    }

    
    a.login{
        border:none;
        font-size: 15px;
        font-weight: 900;
        padding-left:2rem;
        padding-right:2rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 15px;
    }
      

    a.register {
        font-size: 15px;
    }

    .reset{
        font-size: 17px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    .cat_fil{
        font-size: 17px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 17px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:73%;
    }

    #content .cr_bl{
    
        margin-left: 1.8rem;
    }

    #content .cara_belanja img{
        width:90px;
        height:auto;
      }
  
      #content .cara_belanja h5{
          font-weight: 900;
          font-size: 18px;
          
          margin-right:2px;
          
      }
  
      #content .cara_belanja p{
          margin-left:-2rem;
          margin-right:10px;
          font-size: 14px;
          
      }

    #content .kontak{
        
        margin-left: 0.5rem;
        margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
        font-size: 3.9em;
        margin-top:1.3rem;
        margin-left:20px;
    }

    #content .contact_kami h5.no_telp{
        margin-left:-6rem;
        font-size: 29px;
       
    }

    #content .contact_kami p.telp{
        margin-left:-6rem;
        margin-top: 1rem;
        font-size: 23px;
       
   }

   #content .contact_kami p{
    margin-top:1.2rem;
    margin-left:-6rem;
    font-size: 23px;
    font-weight: 600;
    
   }

  #content .contact_kami h5{
    margin-left:-6rem;
    font-family: Open Sans;
    font-size: 18px;
    
  }

    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:8px;
        color: #ffffff;
        
        font-size: 16px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 30px;
        margin-right: 0;
        margin-bottom:20px;
        font-size: 40px;
        left:-1.5rem;
        right:-1rem;
        top:-0.5rem;
        padding-top:2px;
    }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:14px;
    }

    #content .product-price {
        font-size: 22px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        margin-top:1px;
        margin-right:8px;
        margin-left:-12px;
    }

    #content .button_minus {
        font-size: 15px;
        margin-left:8px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        font-weight: 900;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 480px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    
    
    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 15px;
    }

    #pageSubmenu{
        font-size: 14px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .navbar-brand {
        position: absolute;
        left: 37%;
    }

    
    a.login{
        border:none;
        font-size: 15px;
        font-weight: 900;
        padding-left:2rem;
        padding-right:2rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 15px;
    }
      

    a.register {
        font-size: 15px;
    }

    .reset{
        font-size: 17px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    
    .cat_fil{
        font-size: 15px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 15px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:66.5%;
    }

    #content .cr_bl{
    
        margin-left: 1.4rem;
    }

    #content .cara_belanja img{
        width:90px;
        height:auto;
      }
  
      #content .cara_belanja h5{
          font-weight: 900;
          font-size: 18px;
          
          margin-right:2px;
          
      }
  
      #content .cara_belanja p{
          margin-left:-2rem;
          margin-right:10px;
          font-size: 14px;
          
      }

    #content .kontak{
        
        margin-left: 0.5rem;
        margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
        font-size: 3.9em;
        margin-top:1.3rem;
        margin-left:20px;
    }

    #content .contact_kami h5.no_telp{
        margin-left:-6rem;
        font-size: 29px;
       
    }

    #content .contact_kami p.telp{
        margin-left:-6rem;
        margin-top: 1rem;
        font-size: 23px;
       
   }

   #content .contact_kami p{
    margin-top:1.2rem;
    margin-left:-6rem;
    font-size: 23px;
    font-weight: 600;
    
   }

  #content .contact_kami h5{
    margin-left:-6rem;
    font-family: Open Sans;
    font-size: 18px;
    
  }

    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:8px;
        color: #ffffff;
        
        font-size: 12px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 20px;
        margin-right: 0;
        margin-bottom:10px;
        font-size: 15px;
        left:-1.5rem;
        right:-1rem;
        top:-0.5rem;
        padding-top:2px;
    }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:14px;
    }

    #content .product-price {
        font-size: 22px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        margin-top:2px;
        margin-right:8px;
        margin-left:-12px;
    }

    #content .button_minus {
        font-size: 15px;
        margin-left:8px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 15px;
        font-weight: 900;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 425px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    
    
    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 13px;
    }

    #pageSubmenu{
        font-size: 12px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    
    a.login{
        border:none;
        font-size: 14px;
        font-weight: 900;
        padding-left:1.5rem;
        padding-right:1.5rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 14px;
    }
      

    a.register {
        font-size: 14px;
    }

    .reset{
        font-size: 16px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    .navbar-brand {
        position: absolute;
        left: 35%;
    }

    .cat_fil{
        font-size: 13px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 15px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:76.5%;
    }

    #content .cr_bl{
    
        margin-left: 1rem;
        }

        #cara-belanja .card-body{
            padding:0;
        }
    
        #cara-belanja .card-img-top{
            margin-left:-10px;
        }
    
        #content .cara_belanja h5{
            font-weight: 900;
            font-size: 17px;
            margin-left:-2.5rem;
            margin-right:-2.5rem;
            
        }
    
        #content .cara_belanja p{
            margin-left:-2.5rem;
            margin-right:-2rem;
            font-size: 12px;
            
        }
    
        #content .kontak{
        
            margin-left: 0.5rem;
            margin-bottom : -2rem;
    
        }
    
        #i-kontak, #i-envelop {
            font-size: 3.9em;
            margin-top:1.3rem;
        }
    
        #content .contact_kami h5.no_telp{
            margin-left:-6rem;
            font-size: 29px;
           
        }
    
        #content .contact_kami p.telp{
            margin-left:-6rem;
            margin-top: 1rem;
            font-size: 20px;
           
       }
    
       #content .contact_kami p{
        
        margin-left:5.5rem;
        margin-top: -4rem;
        font-size: 20px;
        font-weight: 600;
        
       }
    
      #content .contact_kami h5{
        margin-left:5.5rem;
        font-family: Open Sans;
        font-size: 16px;
        
      }
      

    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:8px;
        color: #ffffff;
        
        font-size: 12px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 3px;
        margin-right: 0;
        margin-bottom:10px;
        font-size: 12px;
        left:-1rem;
        right:-1rem;
        top:-1rem;
        padding-top:2px;
     }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:10px;
    }

    #content .product-price {
        font-size: 17px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button-minus{
       font-size: 10px;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
        margin-top:5px;
        margin-left:-10px;
    }

    #content .button_minus {
        font-size: 12px;
        margin-left:5px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        margin-top:0;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 375px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 13px;
    }

    #pageSubmenu{
        font-size: 12px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .navbar-brand {
        position: absolute;
        left: 35%;
    }

    a.login{
        border:none;
        font-size: 14px;
        font-weight: 900;
        padding-left:1.5rem;
        padding-right:1.5rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 14px;
    }
      

    a.register {
        font-size: 14px;
    }

    .reset{
        font-size: 16px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    

    .cat_fil{
        font-size: 13px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 15px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:73%;
    }
  
    #content .cr_bl{
    
    margin-left: 1rem;
    }

    #content .kontak{
    
        margin-left: 0.5rem;
        margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
        font-size: 3.9em;
        margin-top:1.3rem;
        margin-left:0;
    }

    #content .contact_kami h5.no_telp{
        margin-left:0;
        font-size: 29px;
       
    }

    #content .contact_kami p.telp{
        margin-left:0;
        margin-top: 1rem;
        font-size: 20px;
       
   }

   #content .contact_kami p{
    
    margin-left:5.5rem;
    margin-top: -4rem;
    font-size: 20px;
    font-weight: 600;
    
   }

  #content .contact_kami h5{
    margin-left:5.5rem;
    font-family: Open Sans;
    font-size: 16px;
    
  }
  

    #cara-belanja .card-body{
        padding:0;
    }

    #cara-belanja .card-img-top{
        margin-left:-10px;
    }

    #content .cara_belanja h5{
        font-weight: 900;
        font-size: 17px;
        margin-left:-2rem;
        margin-right:-2rem;
        
    }

    #content .cara_belanja p{
        margin-left:-2rem;
        margin-right:-2rem;
        font-size: 12px;
        
    }
  
    #content .button_add_to_cart {
        
        border-radius: 5px;
        padding:8px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 600; 
        padding:2 15;
    }

    .button-collapse{
        margin-left: 3px;
        margin-right: 0;
        margin-bottom:10px;
        font-size: 12px;
        left:-1rem;
        right:-1rem;
        top:-1rem;
        padding-top:2px;
     }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:10px;
    }

    #content .product-price {
        font-size: 17px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    
    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
        margin-top:5px;
        margin-left:-10px;
    }

    #content .button_minus {
        font-size: 12px;
        margin-left:5px;
    }
      
    #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
    }


    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        margin-top:0;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}

@media (max-width: 320px) {
    #sidebar {
        width: 70%;
        left: -70%;
    }

    #sidebar ul.components {
    padding: 20px 0;
    }
    
    #sidebar ul li a {
        margin-bottom: 5px;
        font-size: 13px;
    }

    #pageSubmenu{
        font-size: 12px;
    }
    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: white;
        background: #5D2B30;
    
    }

    .nav-center img{
        left: 20%;
    }

    a.login{
        border:none;
        font-size: 14px;
        font-weight: 900;
        padding-left:1.5rem;
        padding-right:1.5rem;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: -15px;
        color: #6a3137;
        background-color: #fff;
      }

    #log .logout {
        
        font-size: 14px;
    }
      

    a.register {
        font-size: 14px;
    }

    .reset{
        font-size: 14px;
    }

    #sidebar .social-icons a {
        margin-right: 5px;
        margin-left: 5px;
        font-size:14px;
        color: #fff;
    }

    .nav-center {
        position: absolute;
        left: 30%;
    }

    .cat_fil{
        font-size: 13px;
        font-weight: bold;
        font-style:normal;
        line-height: 1;
        font-family: Open Sans;
      }

      .tombol{
        font-size: 15px;
    }

      .menu-filter{
        width:40%;
        height: auto;
    }

    .warna{
        height:67%;
    }

    #content .cr_bl{
    
    margin-left: 1rem;
    }

    #content .cara_belanja img{
        width:60px;
        height:auto;
      }
  
      #content .cara_belanja h5{
          font-weight: 900;
          font-size: 15px;
          margin-right:-2.5rem;
          
      }
  
      #content .cara_belanja p{
          margin-left:-2rem;
          margin-right:-2.5rem;
          font-size: 10px;
          
      }

    #content .kontak{
    
    margin-left: 0.5rem;
    margin-bottom : -2rem;

    }

    #i-kontak, #i-envelop {
    font-size: 3.5em;
    margin-top:1.3rem;
    }

    #content .contact_kami h5.no_telp{
    margin-left:4.5rem;
    font-size: 22px;
        
    }

    #content .contact_kami p.telp{
    margin-left:4.5rem;
    margin-top: -4rem;
    font-size: 20px;
    
    }

    #content .contact_kami p{
    
    margin-left:4.5rem;
    margin-top: -4rem;
    font-size: 20px;
    font-weight: 600;
    
    }
    
    #content .contact_kami h5{
    margin-left:4.5rem;
    font-family: Open Sans;
    font-size: 13px;
    
    }

    #content .button_add_to_cart {
        
    border-radius: 5px;
    padding:8px;
    color: #ffffff;
    
    font-size: 12px;
    font-weight: 600; 
    padding:2 15;
    }

    .button-collapse{
        margin-left: 3px;
        margin-right: 0;
        margin-bottom:10px;
        font-size: 12px;
        left:-1rem;
        right:-1rem;
        top:-1rem;
        padding-top:2px;
     }

     .collapse{
        margin-bottom:10px;
      }

    #content .item_product{
        width:100%; 
        padding:5px;
        padding-bottom: 10px; 
        border-radius:15px;
        margin-bottom:4rem;
    }

    #content .item_product img{
        border-radius:15px;
        height: auto;
    }

    #content .product-price-header {
        line-height: 1.36;
        font-size:10px;
    }

    #content .product-price {
        font-size: 17px; 
        font-weight: 900;
    }

    /*
    #content .hdr_tbl_cart {
       margin-top:-2px;
    }*/

    #content .tbl_cart {
        width: 50%;
        padding-right:0;
    }

    #content .button-minus{
       font-size: 10px;
    }

    #content .button_plus{
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
        margin-top:5px;
    }

    #content .button_minus {
        font-size: 12px;
        margin-left:5px;
    }
      
      #content .show {
        /*width: 25px; 
        height: 25px;*/
        font-size: 12px;
    }

    #content .card-img-top{
        margin-bottom:2rem;
      }

    #footer {
        
        padding-top: 7rem;
        padding-bottom: 2rem;
    }

    #footer img {
        width: 90%;
        height: auto;
    }

    
    #footer .social-icons a {
        margin-top: 0;
        margin-right: 10px;
        margin-left: 10px;
        font-size:20px;
    }

    .copyright p {
        margin-top: 20px;
        margin-bottom: 10rem;
        font-size: 13px;
     }

      .fixed-bottom{
        margin-left:15px;
        margin-right:15px;
     }

     #ex4 .p1[data-count]:after{
        
        right:50%;
        top:10%;
        line-height:0.5em;
        color: white;
        min-width: 1.3em;
        
      }

    #card-cart{
    background-color:#6a3137;
    border-radius:14px; 
    padding-left:10px; 
    height:50px;
    padding-bottom:4px;
    }
    
    #ex4 .fa-shopping-cart{
        font-size: 25px;
        color: #ffffff;
        top:2px;
        position: absolute;
      }
    
    #card-cart h5{
    font-size:13px;
    margin-left:-2.5rem;
    margin-top:-10px;
    }
    
    #card-detail .image-detail{
    border-radius:10px; 
    width:200px; 
    height:auto;
    }
    
    #card-detail p{
    color: #6a3137;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    #card-detail h1{
    color: #6a3137;
    font-weight: 900;
    }

    #cv .fa-chevron-up{
        margin-left: -15px;
        font-size: 14px;
        margin-top:-20px;
        position: absolute;
    }

    #collapse-4{

    max-height:375px; 
    padding:2px;
    
    }

    #card-detail {
      padding-left:2px;
      padding-right:2px; 
    }

    #card-detail .image-detail{
        width:80px; 
        height:auto;
        margin-bottom: 15%;
    }

    #card-detail p{
        font-size: 10px;
        margin-left:10px; 
        font-weight: bold;
        margin-bottom: 2px;
    }

    #card-detail h1{
        margin-left:10px;
        font-size: 15px;
        font-weight: 900;
    }

    #card-detail .button_minus {
        font-size: 10px;
        margin-left:15px;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .button_plus{
        font-size: 10px;
        margin-left:5px;
        margin-top:0;
        font-weight: 800; 
        cursor:pointer; 
    }

    #card-detail .d-inline{
       font-size: 13px;
       margin-left:5px;
    }

    #card-detail .btn-default{
        color:#fff;
        background-color:#6a3137;
        font-size:10px;
        font-weight: 800; 
        padding-top:5px; 
        padding-bottom:5px;
      }

      #bt_beli a{
        
        border-radius: 5px;
        padding-right:15px;
        padding-left: 15px;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 10px;
        font-weight:800;
        margin-right:0px;
      }
}